<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/game/start-game' ? 'active' : '' %>" href="/game/start-game">New Game</a></li>
            <li class="main-header__item"><a class="<%= path === '/game/game-history' ? 'active' : '' %>" href="/game/game-history">History</a></li>
        </ul>
    </nav>
</header>