* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f1f1f1;
  }
  
  #gameForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  .form_control {
    margin-bottom: 5px;
    padding: 10px;
    width: 40%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #00695c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #a2b3b1;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  .dropdown{
    padding: 10px;
    width: 40%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
  }

  .checkboxt {
    padding: 10px;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }

  .disable{
      display: none
  }

  /* Nav Bar */
  .main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #00695c;
    padding: 0 1.5rem;
  }
  
  .main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .main-header__item {
    margin: 0 1rem;
    padding: 0;
  }
  
  .main-header__item a {
    text-decoration: none;
    color: white;
  }
  
  .main-header__item a:hover,
  .main-header__item a:active,
  .main-header__item a.active {
    color: #ffeb3b;
  }

  /* History css */
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  #customers tr:hover {
    background-color: #ddd;
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00695c;
    color: white;
  }